@import url('header.css');
@import url('banner.css');
@import url('sobre.css');
@import url('lineup.css');
@import url('rodape.css');
@import url('experiencia.css');
@import url('setores.css');
@import url('informacoes.css');
@import url('ingresso.css');
@import url('ingresso__comprado.css');

:root {
    --gradiente-verao: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
    
    --fonte-titulo:'Calistoga', cursive;
    --fonte-principal:'Raleway', sans-serif;
    --azul-escuro: rgba(46, 123, 162, 1);
    --azul-escuro-hover: rgba(81, 158, 197, 1);
    --branco: rgba(255, 255, 255, 1);
    --cinza: rgba(68, 68, 68, 1);
    --amarelo: rgba(250, 207, 157, 1);
    --mostarda: #DF9010;
    --azul: rgba(14, 125, 241, 1);
    --rosa: rgba(254, 1, 110, 1);
    --vermelho: rgb(254, 9, 1);
    --verde: rgba(1, 168, 158, 1);
    --purple: rgba(63, 81, 181, 1);
    --azul-claro: #C8DEEF;
    --azul-medio: #2E7BA2;
}


body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background: var(--gradiente-verao);
    /* background: linear-gradient(180deg, #BFDAE6, #FCF0DD, #FACF9D); */
}

.sobre, .lineup, .rodape,
.setores, .setores__sobre, .duvidas,
.formulario, .ingresso {
    padding: 2em 1.5em;
}

/* @media screen and (min-width: 768px) {

    .ingresso {
        padding: 2em 4em;
    }

} */